body {
    color: black;
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: maroon;
    color: #dddddd;
    display: flex;
    justify-content: center;
}

nav {
    background-color: rgb(83, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    color: #dddddd;
}